@use "../../../common";

.benefits-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;

  @media (max-width: 1360px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .benefit-card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;

    p {
      color: common.$light-text;
    }

    .icon-wrapper {
      padding: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: lighten(common.$background, 10);
      border-radius: 0.5rem;
    }
  }
}