@use "../../../common";

.testimonial-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 1rem;
  gap: 2rem;

  @media (max-width: 745px) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .testimonial-card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    outline: 1px dashed common.$shade;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;

    img {
      width: 3rem !important;
      height: 3rem !important;
      border-radius: 1000px;
    }

    .testimonial-text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 16rem;

      @media (max-width: 1360px) {
        height: 100%;
        gap: 2rem;
      }

      .author-wrapper {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
