@use "../../../common";

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  outline: 1px solid common.$shade;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 150ms ease-in-out;
  gap: 1px;

  .service-card {
    padding: 2rem;
    outline: 1px solid common.$shade;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    transition: all 150ms ease-in-out;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
    }

    .service-text {
      height: min-content;
    }

    .service-number-and-header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      transition: all 150ms ease-in-out;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .service-number-and-header, .service-pricing-wrapper {
      flex: 1;
    }

    .separator-line {
      width: 100%;
      flex: 1;
      height: 2px;
      scale: 1;
      background: common.$primary-accent;
      transition: all 150ms ease-in-out;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    .service-pricing-wrapper {

      @media (max-width: 768px) {
        width: 100%;
      }

      .start-pricing {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;

        h4 {
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          color: common.$light-text;
        }

        .see-details {
          display: none;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
          color: common.$light-text;

        }
      }

      .explore-plans {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        outline: 2px solid common.$primary-color;
        padding: 1rem 2rem;
        border-radius: 1rem;
      }
    }

    &:hover {
      background: common.$primary-color;
      transition: all 150ms ease-in-out;
      cursor: pointer;

      * {
        color: common.$background;
      }
    }
  }
}
